{% extends "layouts/master.html" %}

{% block vista %}Agregar vehiculo{% endblock %}

{% block contenido %}
    <header>
        <h2 class="text-center" >Agregar vehiculo</h2>
    </header>
    <main class="container">
        <section >
        <h2 class="text-center py-3" >Vehiculo </h2>
            <div class="row justify-content-center">
                <div class="col-12 col-md-6 col-lg-4">
                    <form action="" class="w-75" method ="POST">
                        <div>
                            <label for="marca" class="form-label">Marca: </label>
                            {{form.marca}}
                        </div>
>
                        <div>
                            <label for="modelo" class="form-label">Modelo: </label>
                            {{form.modelo}}
                        </div>
                        <div>
                            <label for="serial_carroceria" class="form-label">Serial carrocería: </label>
                            {{form.serial_carroceria}}
                        </div>
                        <div>
                            <label for="serial_motor" class="form-label">Serial motor: </label>
                            {{form.serial_motor}}
                        </div> 
                        <div>
                            <label for="categoria" class="form-label">Categoria: </label>
                            {{form.categoria}}
                        </div> 
                        <div>
                            <label for="precio" class="form-label">Precio: </label>
                            {{form.precio}}
                        </div>                           
                        <div class ="py-3">
                            <input type="submit" value="Registrar producto" class="btn btn-secondary">
                        </div>
                    </form>
                </div>
            </div>
        
        </section>
        
    </main>
    
{% endblock %}
